<div class="curve">
    <div class="login-title">Remedy</div>
    <div class="login-message">
        login or signup
    </div>
    <div class="login-buttons-container">
        <div class="login-button google"><i class="fa fa-google fa-2x" aria-hidden="true"></i></div>
        <div class="login-button facebook" (click)="loginWithFacebook()"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></div>
        <div class="login-button twitter"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></div>
    </div>
    <button (click)="logout()">logout</button>
</div>

<div class="login-form-container">
    <!--<form class="login-form">
        <md-input-container class="full-width">
            <input mdInput placeholder="Username">
        </md-input-container>
        <md-input-container class="full-width">
            <input mdInput placeholder="Password">
        </md-input-container>
    </form>-->
</div>

  <!--<div> {{ (user | async)?.uid }} </div>
  <button (click)="login()">Login</button>
  <button (click)="logout()">Logout</button>-->